//white
$color-white: #ffffff;
$color-white-gray: #f6f6f6;
//black
$color-black-origin: #000000;
$color-black: #595959;
//red
$color-red: #c62828;
$color-red1: #c70404;
$color-dark-red: #c2292e;
$color-red-r1: #f4cdcd;
$color-t-red: rgba(249, 187, 189, 0.7);
//blue
$color-blue: #135eac;
//green
$color-green: #0e9549;
$color-green1: #77c197;
$color-green2: #e8f4ed;
$color-green-header: #1d9752;
$color-green-input: #d2eadc;
//gray
$color-gray: #bdbdbd;
$color-gray1: #262626;
$color-gray2: #676767;
$color-gray3: #3b3b3b;
$color-gray4: #b8b8b8;
$color-gray5: #f0f0f0;
$color-gray6: #d9d9d9;
$color-gray7: #8c8c8c;
$color-gray8: #3b3b3b;
$color-light-gray: #828282;
$color-dark-gray: #454546;
$color-gray-d8: #d8d8d8;
$color-gray-e6: #e6e6e6;
$color-gray-e8: #e8e8e8;
$color-t-gray: rgba(0, 0, 0, 0.05);
$color-solid-border: #e8e8e8;
$color-dash-border: #d4d4d4;
//yellow
$color-yellow: #ffeaac;
$color-yellow-y1: #fff3cd;
$color-yellow-d9: #997404;
$color-gray-f7: #f7f7f7;
//tranparent
$color-transparent: transparent;
